* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: #202046;
}

.wrapper {
  padding: 2.5rem 0;
  background: url("../images/pattern-curve.svg") bottom left no-repeat;
  background-size: 65%;
}

@media (min-width: 800px) {
  .wrapper {
    background-size: 45%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.slider {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

@media (min-width: 800px) {
  .slider {
    max-width: 1200px;
  }
}

.slider__person {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .slider__person {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
}

.slider__image {
  position: relative;
  padding: 3rem 0;
  background: url("../images/pattern-bg.svg") center center no-repeat;
  background-size: contain;
  margin-bottom: 3rem;
}

.slider__image img {
  display: block;
  width: 78%;
  margin: auto;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 10px 50px rgba(32, 32, 70, 0.1);
          box-shadow: 0 10px 50px rgba(32, 32, 70, 0.1);
}

@media (min-width: 950px) {
  .slider__image img {
    width: 73%;
  }
}

.slider__body {
  text-align: center;
  padding: 2.25rem 0;
  background: url("../images/pattern-quotes.svg") top center no-repeat;
  background-size: 6rem;
}

@media (min-width: 800px) {
  .slider__body {
    text-align: left;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    max-width: 600px;
  }
}

@media (min-width: 800px) {
  .slider__image, .slider__body {
    width: 50%;
  }
}

.slider__quote {
  font-size: 1.825rem;
  font-weight: 300;
  color: #282858;
  display: block;
  line-height: 1.4;
  margin-bottom: 1.75rem;
}

@media (min-width: 800px) {
  .slider__quote {
    font-size: 2.25rem;
  }
}

@media (min-width: 950px) {
  .slider__quote {
    font-size: 2.5rem;
  }
}

.slider__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.slider__name span {
  display: block;
  color: #babacf;
  margin-top: 0.25rem;
}

@media (min-width: 800px) {
  .slider__name span {
    display: inline;
  }
}

.slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  height: 40px;
  width: 80px;
  border-radius: 2rem;
  overflow: hidden;
}

@media (min-width: 800px) {
  .slider__button {
    left: 30%;
  }
}

.slider__prev, .slider__next {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  cursor: pointer;
}

.slider__prev:hover, .slider__next:hover {
  background-color: #e6e6e6;
}

.slider__prev {
  background-image: url("../images/icon-prev.svg");
}

.slider__next {
  background-image: url("../images/icon-next.svg");
}
/*# sourceMappingURL=style.css.map */