$DarkBlue: hsl(240, 38%, 20%);
$GrayishBlue: hsl(240, 18%, 77%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin bigger($var) {
  @media (min-width: $var) {
    @content;
  }
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: $DarkBlue;
}

.wrapper {
  padding: 2.5rem 0;
  background: url("../images/pattern-curve.svg") bottom left no-repeat;
  background-size: 65%;

  @include bigger(800px) {
    background-size: 45%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.slider {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  position: relative;

  @include bigger(800px) {
    max-width: 1200px;
  }

  &__person {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include bigger(800px) {
      flex-direction: row-reverse;
      align-items: center;
      max-width: 100%;
    }
  }

  &__image {
    position: relative;
    padding: 3rem 0;
    background: url("../images/pattern-bg.svg") center center no-repeat;
    background-size: contain;
    margin-bottom: 3rem;
    @include bigger(800px) {
      margin-bottom: 0;
      padding: 4rem 0;
    }

    img {
      display: block;
      width: 78%;
      margin: auto;
      border-radius: 0.5rem;
      box-shadow: 0 10px 50px rgba($DarkBlue, 0.1);
      @include bigger(950px) {
        width: 70%;
      }
    }
  }
  &__body {
    text-align: center;
    padding: 2.25rem 0;
    background: url("../images/pattern-quotes.svg") top center no-repeat;
    background-size: 6rem;
    @include bigger(800px) {
      text-align: left;
      transform: translateX(20%);
      max-width: 600px;
    }
  }

  &__image,
  &__body {
    @include bigger(800px) {
      width: 50%;
    }
  }
  &__quote {
    font-size: 1.825rem;
    font-weight: 300;
    color: lighten($DarkBlue, 5%);
    display: block;
    line-height: 1.4;
    margin-bottom: 1.75rem;

    @include bigger(800px) {
      font-size: 2.25rem;
    }
    @include bigger(950px) {
      font-size: 2.5rem;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;

    span {
      display: block;
      color: $GrayishBlue;
      margin-top: 0.25rem;

      @include bigger(800px) {
        display: inline;
      }
    }
  }

  &__button {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 40px;
    width: 80px;
    border-radius: 2rem;
    overflow: hidden;
    @include bigger(800px) {
      left: 30%;
    }
  }
  &__prev,
  &__next {
    height: 100%;
    flex: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25%;
    cursor: pointer;
    &:hover {
      background-color: darken(#fff, 10%);
    }
  }
  &__prev {
    background-image: url("../images/icon-prev.svg");
  }
  &__next {
    background-image: url("../images/icon-next.svg");
  }
}
